
# 15 ifdefs
# 3 qcbor versions
# 3 compilers
# 3 containers
# 6 crypto libraries
# 2 debug/release 

# ifdefs X crypto 15 * 6 = 90 

# qcbor X compilers X min crypto  = 3 * 2 * 3 = 18

name: CI

on: [push, pull_request]

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        c-compiler: [gcc, clang]

        qcbor-version: [master, dev]

        crypto:
          - interface: psa
            provider: MbedTLS
            version: 3.5.2

          - interface: OpenSSL
            provider: OpenSSL
            version: 3.2

        config:
          - os-image: ubuntu-latest
            container: ubuntu:22.04

    name: ${{ matrix.crypto.interface}} • ${{ matrix.crypto.provider }} • ${{matrix.crypto.version}} • ${{ matrix.c-compiler }} • ${{ matrix.qcbor-version }}

    runs-on: ${{ matrix.config.os-image }}
 #   container: ${{ matrix.config.container }}

    steps:
    - uses: actions/checkout@v3

    - name: Install OpenSSL
      if: matrix.crypto.provider == 'OpenSSL'
      run: sudo apt-get install -y libssl-dev

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Install Conan
      run: pip install --upgrade conan

    - name: Detect Conan profile
      run: conan profile detect --force

    - name: Install mbedTLS with Conan (inline)
      if: matrix.crypto.provider == 'MbedTLS'
      shell: bash
      run: |
        conan install \
          --requires=mbedtls/${{ matrix.version }} \
          --output-folder=build \
          --build=missing \
          -g CMakeDeps \
          -g CMakeToolchain \
          -o mbedtls/*:enable_psa=True \
          -s build_type=Debug

    - name: Fetch QCBOR
      uses: actions/checkout@v3
      with:
        repository: laurencelundblade/QCBOR
        ref: ${{ matrix.qcbor-version }}
        path: QCBOR

    - name: Configure QCBOR
      shell: bash
      run: |
        cd QCBOR
        cmake -S . -B qcbor-build 

    - name: build QCBOR
      shell: bash
      run: |
        cd QCBOR
        cmake --build qcbor-build

    - name: Install QCBOR
      shell: bash
      run: |
        cd QCBOR
        cmake --install qcbor-build --prefix "$GITHUB_WORKSPACE/install" 

    - name: Configure t_cose
      shell: bash
      run: |
        cmake -S . -B build \
          -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON \
          -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake \
          -DCRYPTO_PROVIDER=${{ matrix.crypto.provider }} \
          -DCMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/install \
          -DCMAKE_BUILD_TYPE=Debug 

    - name: Build t_cose
      run: |
        set -ex
        cmake --build build --verbose

    - name: Run examples
      run: build/t_cose_examples

    - name: Run tests
      run: build/t_cose_test

  msvc:
    name: msvc • windows-latest
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        # TODO: add OPenSSL back in when we figure out why it is broken
        crypto: [ Test, MbedTLS ]
    
    env:
      ARCH: x64

    steps:
      - uses: actions/checkout@v4

      # Optional: ensures Dev Cmd environment; the VS generator usually finds MSVC without this,
      # but keeping it makes detection deterministic.
      - name: Set up MSVC DevCmd
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ env.ARCH }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Conan
        run: pip install --upgrade conan

      - name: Detect Conan profile
        run: conan profile detect --force

      - name: Install mbedTLS with Conan (inline)
        shell: bash
        run: |
          conan install \
            --requires=mbedtls/3.5.2 \
            --output-folder=build \
            --build=missing \
            -g CMakeDeps \
            -g CMakeToolchain \
            -s compiler=msvc \
            -s compiler.runtime=dynamic \
            -o mbedtls/*:enable_psa=True \
            -s build_type=Debug

      - name: Fetch QCBOR Win
        uses: actions/checkout@v3
        with:
          repository: laurencelundblade/QCBOR
          ref: better-cmake
          path: QCBOR

      - name: Configure QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          ARCH="${{ env.ARCH }}"
          cmake -S . -B qcbor-build -G "Visual Studio 17 2022" -A "$ARCH" 

      - name: build QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          cmake --build qcbor-build 

      - name: Install QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          cmake --install qcbor-build --prefix "$GITHUB_WORKSPACE/install" --config Debug

      - name: Install OpenSSL with vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: '**/vcpkg.json'

      - name: Config t_cose
        shell: bash
        run: |
          cmake -S . -B build \
          -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/install" \
          -DBUILD_TESTS=ON  -DBUILD_EXAMPLES=ON \
          -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake \
          -DCRYPTO_PROVIDER=${{ matrix.crypto }} 

      - name: Build t_cose
        run: cmake --build build --config Debug
        shell: bash

      - name: Run tests
        shell: pwsh
        run: |
          $exe = "build/Debug/t_cose_test.exe verify_multi_test"
          if (!(Test-Path $exe)) {
            Write-Error "Test binary not found: $exe"
          }
          & $exe
