# ci.yml -- Configuration QCBOR continuous integration for github workflow
#
# Copyright (c) 2024-2026, Laurence Lundblade. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#
# See BSD-3-Clause license in README.md
#

# The fan out strategy is two parts:
#
# 1) Fan out all ifdefs and all crypto libraries against each other.
#
# 2) Fan out QCBOR versions, compilers and minimal crypto libraries.
#
# If everything fans out against everything it ends up with
# over 1,000. This two-part strategy keeps it under 200.
#
# The ifdefs relate to crypto algorithms and features hence testing
# them against crypto libraries.
#
# The QCBOR version and compiler doesn't relate much to the
# ifdefs and the crypto library.
#
# Case 2) is handled by the "main" and "msvc" jobs. MSVC has to
# be separate because it is just different.


name: CI

on: [push, pull_request]

jobs:
  # =========================================================================
  #  Fan out compiler vs qcbor vs minimal crypto on Linux
  # =========================================================================

  main:
    strategy:
      fail-fast: false
      matrix:
        c-compiler: [gcc, clang]

        qcbor-version: [master, dev]

        crypto:
          - interface: Test
            provider: Test
            cmake: ""

          - interface: psa
            provider: MbedTLS
            version: 3.5.2
            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake 

#TODO: switch to later version of OpenSSL
          - interface: OpenSSL
            provider: OpenSSL
            version: 1.1.1v
            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake 

        ifdef: &ifdef-array
          - ""

        config:
          - os-image: ubuntu-latest
            container: ubuntu:22.04

    name: ${{ matrix.crypto.interface}} • ${{ matrix.crypto.provider }} • ${{matrix.crypto.version}} • ${{ matrix.c-compiler }} • ${{ matrix.qcbor-version }} • ${{ matrix.ifdef }}

    runs-on: ${{ matrix.config.os-image }}
    container: ${{ matrix.config.container }}

    env:
      CC: ${{ matrix.c-compiler }}

    steps:
      - uses: actions/checkout@v3
  
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
  
      - name: Install Conan
        run: pip install --upgrade conan
  
      - name: Detect Conan profile
        run: conan profile detect --force
  
      - name: Install OpenSSL
        if: matrix.crypto.provider == 'OpenSSL'
        run: |
          conan install \
            --requires=openssl/${{ matrix.crypto.version }} \
            --output-folder=build \
            --build=missing \
            -g CMakeDeps \
            -g CMakeToolchain \
            -s build_type=Debug
  
      - name: Install mbedTLS with Conan (inline)
        if: matrix.crypto.provider == 'MbedTLS'
        shell: bash
        run: |
          conan install \
            --requires=mbedtls/${{ matrix.crypto.version }} \
            --output-folder=build \
            --build=missing \
            -g CMakeDeps \
            -g CMakeToolchain \
            -o mbedtls/*:enable_psa=True \
            -s build_type=Debug
  
      - name: Fetch QCBOR
        uses: actions/checkout@v3
        with:
          repository: laurencelundblade/QCBOR
          ref: ${{ matrix.qcbor-version }}
          path: QCBOR
  
      - name: Configure QCBOR
        shell: bash
        run: |
          cd QCBOR
          cmake -S . -B qcbor-build 
  
      - name: build QCBOR
        shell: bash
        run: |
          cd QCBOR
          cmake --build qcbor-build
  
      - name: Install QCBOR
        shell: bash
        run: |
          cd QCBOR
          cmake --install qcbor-build --prefix "$GITHUB_WORKSPACE/install" 
  
      - name: Configure t_cose
        shell: bash
        run: |
          IFD="${{ matrix.ifdef }}"
          if [ -z "$IFD" ]; then
            CONDITIONAL=""
          else
            CONDITIONAL="-D${IFD}=ON"
          fi
          cmake -S . -B build \
            -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON \
            ${{ matrix.crypto.cmake }} \
            -DCRYPTO_PROVIDER=${{ matrix.crypto.provider }} \
            -DCMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/install \
            -DCMAKE_BUILD_TYPE=Debug \
            "$CONDITIONAL"
  
      - name: Build t_cose
        run: |
          set -ex
          cmake --build build --verbose
  
      - name: Run examples
        run: build/t_cose_examples
  
      - name: Run tests
        run: build/t_cose_test
  
  # =========================================================================
  #  Fan out ifdefs against crypto libraries and versions
  #  Hold compiler constant (clang), and QCBOR constant (dev branch) 
  # =========================================================================
  ifdef-fan-out:
    strategy:
      fail-fast: false
      matrix:
        c-compiler: [clang]

        qcbor-version: [dev]

        crypto:
          - interface: Test
            provider: Test
            cmake: ""

          - interface: psa
            provider: MbedTLS
            version: 2.28.9
            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake 

          - interface: psa
            provider: MbedTLS
            version: 3.5.2
            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake 

          - interface: OpenSSL
            provider: OpenSSL
            version: 1.1.1v
            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake 

# TODO: re-enable this
#          - interface: OpenSSL
#            provider: OpenSSL
#            version: 3.6.0
#            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake 

        ifdef: &ifdef-array
          - ""
          - T_COSE_DISABLE_CONTENT_TYPE
          - T_COSE_DISABLE_COSE_SIGN
          - T_COSE_DISABLE_ES384
          - T_COSE_DISABLE_ES512
          - T_COSE_DISABLE_PS384
          - T_COSE_DISABLE_PS256
          - T_COSE_DISABLE_PS512
          - T_COSE_DISABLE_ES384
# TODO: re-enable this          - T_COSE_DISABLE_KEYWRAP
          - T_COSE_DISABLE_SHORT_CIRCUIT_SIGN
          - T_COSE_DISABLE_USAGE_GUARDS

        config:
          - os-image: ubuntu-latest
            container: ubuntu:22.04

    name: ${{ matrix.crypto.interface}} • ${{ matrix.crypto.provider }} • ${{matrix.crypto.version}} • ${{ matrix.c-compiler }} • ${{ matrix.qcbor-version }} • ${{ matrix.ifdef }}

    runs-on: ${{ matrix.config.os-image }}
 #   container: ${{ matrix.config.container }}

    steps:
      - uses: actions/checkout@v3
  
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
  
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
  
      - name: Install Conan
        run: pip install --upgrade conan
  
      - name: Detect Conan profile
        run: conan profile detect --force
  
      - name: Install OpenSSL
        if: matrix.crypto.provider == 'OpenSSL'
        run: |
          conan install \
            --requires=openssl/${{ matrix.crypto.version }} \
            --output-folder=build \
            --build=missing \
            -g CMakeDeps \
            -g CMakeToolchain \
            -s build_type=Debug
  
      - name: Install mbedTLS with Conan (inline)
        if: matrix.crypto.provider == 'MbedTLS'
        shell: bash
        run: |
          conan install \
            --requires=mbedtls/${{ matrix.crypto.version }} \
            --output-folder=build \
            --build=missing \
            -g CMakeDeps \
            -g CMakeToolchain \
            -o mbedtls/*:enable_psa=True \
            -s build_type=Debug
  
      - name: Fetch QCBOR
        uses: actions/checkout@v3
        with:
          repository: laurencelundblade/QCBOR
          ref: ${{ matrix.qcbor-version }}
          path: QCBOR
  
      - name: Configure QCBOR
        shell: bash
        run: |
          cd QCBOR
          cmake -S . -B qcbor-build 
  
      - name: build QCBOR
        shell: bash
        run: |
          cd QCBOR
          cmake --build qcbor-build
  
      - name: Install QCBOR
        shell: bash
        run: |
          cd QCBOR
          cmake --install qcbor-build --prefix "$GITHUB_WORKSPACE/install" 
  
      - name: Configure t_cose
        shell: bash
        run: |
          IFD="${{ matrix.ifdef }}"
          if [ -z "$IFD" ]; then
            CONDITIONAL=""
          else
            CONDITIONAL="-D${IFD}=ON"
          fi
          cmake -S . -B build \
            -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON \
            ${{ matrix.crypto.cmake }} \
            -DCRYPTO_PROVIDER=${{ matrix.crypto.provider }} \
            -DCMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/install \
            -DCMAKE_BUILD_TYPE=Debug \
            "$CONDITIONAL"
  
      - name: Build t_cose
        run: |
          set -ex
          cmake --build build --verbose
  
      - name: Run examples
        run: build/t_cose_examples
  
      - name: Run tests
        run: build/t_cose_test


  # =========================================================================
  #  Fan out CBOR versions and minimal crypto for MSVC compiler
  #  No ifdefs are ever set 
  # =========================================================================
  msvc:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:

        qcbor-version: [master, dev]

        crypto:
          - interface: Test
            provider: Test
            cmake: ""

          - interface: psa
            provider: MbedTLS
            version: 3.5.2
            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake

#TODO: figure out why OpenSSL is broken on Windows; also switch to later version of OpenSSL
#          - interface: OpenSSL
#            provider: OpenSSL
#            version: 1.1.1v
#            cmake: -DCMAKE_TOOLCHAIN_FILE=build/conan_toolchain.cmake
    
    name: ${{ matrix.crypto.interface}} • ${{ matrix.crypto.provider }} • ${{matrix.crypto.version}} • MSVC • ${{ matrix.qcbor-version }} 

    env:
      ARCH: x64

    steps:
      - uses: actions/checkout@v4

      # Optional: ensures Dev Cmd environment; the VS generator usually finds MSVC without this,
      # but keeping it makes detection deterministic.
      - name: Set up MSVC DevCmd
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ env.ARCH }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Conan
        run: pip install --upgrade conan

      - name: Detect Conan profile
        run: conan profile detect --force

      - name: Install OpenSSL
        if: matrix.crypto.provider == 'OpenSSL'
        shell: bash
        run: |
          conan install \
            --requires=openssl/${{ matrix.crypto.version }} \
            --output-folder=build \
            --build=missing \
            -g CMakeDeps \
            -g CMakeToolchain \
            -s compiler=msvc \
            -s compiler.runtime=dynamic \
            -s build_type=Debug

      - name: Install mbedTLS with Conan (inline)
        if: matrix.crypto.provider == 'MbedTLS'
        shell: bash
        run: |
          conan install \
            --requires=mbedtls/${{ matrix.crypto.version }} \
            --output-folder=build \
            --build=missing \
            -g CMakeDeps \
            -g CMakeToolchain \
            -s compiler=msvc \
            -s compiler.runtime=dynamic \
            -o mbedtls/*:enable_psa=True \
            -s build_type=Debug

      - name: Fetch QCBOR Win
        uses: actions/checkout@v3
        with:
          repository: laurencelundblade/QCBOR
          ref: ${{ matrix.qcbor-version }}
          path: QCBOR

      - name: Configure QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          ARCH="${{ env.ARCH }}"
          cmake -S . -B qcbor-build -G "Visual Studio 17 2022" -A "$ARCH" 

      - name: build QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          cmake --build qcbor-build 

      - name: Install QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          cmake --install qcbor-build --prefix "$GITHUB_WORKSPACE/install" --config Debug

      - name: Config t_cose
        shell: bash
        run: |
          cmake -S . -B build \
          -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/install" \
          -DBUILD_TESTS=ON  -DBUILD_EXAMPLES=ON \
          ${{ matrix.crypto.cmake }} \
          -DCRYPTO_PROVIDER=${{ matrix.crypto.provider }} 

      - name: Build t_cose
        run: cmake --build build --config Debug
        shell: bash

      - name: Run tests
        shell: pwsh
        run: |
          $exe = "build/Debug/t_cose_test.exe"
          if (!(Test-Path $exe)) {
            Write-Error "Test binary not found: $exe"
          }
          & $exe 
