name: CI

on: [push, pull_request]

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        c-compiler: [gcc, clang]

        qcbor-version: [better-cmake, m-bet-cmake ]

        config:
        # OpenSSL 1.1.1 (Ubuntu 20.04)
        - os-image: ubuntu-latest
          container: ubuntu:20.04
          crypto-provider: OpenSSL

        # OpenSSL 3.0 (Ubuntu 22.04)
        - os-image: ubuntu-latest
          container: ubuntu:22.04
          crypto-provider: OpenSSL
        
        - os-image: ubuntu-latest
          container: ubuntu:20.04
          crypto-provider: MbedTLS
          crypto-provider-version: 'v2.28.0'
          crypto-provider-extra: ''
          crypto-provider-build-extra: ''
        
        - os-image: ubuntu-latest
          container: ubuntu:20.04
          crypto-provider: MbedTLS
          crypto-provider-version: 'v3.1.0'
          crypto-provider-extra: ''
          crypto-provider-build-extra: ''

        - os-image: ubuntu-latest
          container: ubuntu:20.04
          crypto-provider: MbedTLS
          crypto-provider-version: 'v3.4.0'
          crypto-provider-extra: ''
          crypto-provider-build-extra: ''

        - os-image: ubuntu-latest
          container: ubuntu:20.04
          crypto-provider: MbedTLS
          crypto-provider-version: 'v3.4.0'
          crypto-provider-extra: ''
          crypto-provider-build-extra: 'python3 scripts/config.py set MBEDTLS_ECP_RESTARTABLE'

        - os-image: ubuntu-latest
          container: ubuntu:20.04
          crypto-provider: Test

    name: ${{ matrix.config.crypto-provider }} ${{ matrix.config.crypto-provider-version }} • ${{ matrix.c-compiler }} • ${{ matrix.config.container }} ${{ matrix.qcbor-version }}

    runs-on: ${{ matrix.config.os-image }}
    container: ${{ matrix.config.container }}

    steps:
    - uses: actions/checkout@v3

    - name: Install build tools
      run: |
        set -ex
        export DEBIAN_FRONTEND=noninteractive
        apt-get update
        apt-get install -y build-essential cmake python3 ${{ matrix.c-compiler }} \
                python3-jinja2 python3-jsonschema
        echo "CC=${{ matrix.c-compiler }}" >> $GITHUB_ENV
    
    - name: Install OpenSSL
      if: matrix.config.crypto-provider == 'OpenSSL'
      run: apt-get install -y libssl-dev

    - name: Fetch MbedTLS
      if: matrix.config.crypto-provider == 'MbedTLS'
      uses: actions/checkout@v3
      with:
        repository: ARMmbed/mbedtls
        ref: ${{ matrix.config.crypto-provider-version }}
        path: mbedtls

    - name: Install MbedTLS
      if: matrix.config.crypto-provider == 'MbedTLS'
      run: |
        cd mbedtls
        ${{ matrix.config.crypto-provider-build-extra }}
        make -j $(nproc)
        make install

    - name: Fetch QCBOR
      uses: actions/checkout@v3
      with:
        repository: laurencelundblade/QCBOR
        ref: ${{ matrix.qcbor-version }}
        path: QCBOR

    - name: Configure QCBOR
      shell: bash
      run: |
        cd QCBOR
        cmake -S . -B qcbor-build 

    - name: build QCBOR
      shell: bash
      run: |
        cd QCBOR
        cmake --build qcbor-build

    - name: Install QCBOR
      shell: bash
      run: |
        cd QCBOR
        cmake --install qcbor-build --prefix "$GITHUB_WORKSPACE/install" 

    - name: Configure t_cose
      shell: bash
      run: |
        cmake -S . -B build \
          -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON \
          -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/install" \
          -DCRYPTO_PROVIDER=${{ matrix.config.crypto-provider }} \
          ${{ matrix.config.crypto-provider-extra }}

    - name: Build t_cose
      run: |
        set -ex
        cmake --build build 

    - name: Run examples
      run: build/t_cose_examples

    - name: Run tests
      if: matrix.config.crypto-provider == 'MbedTLS' &&
          matrix.config.crypto-provider-version == 'v3.4.0' &&
          matrix.config.crypto-provider-build-extra == ''
      # This Mbed TLS version has the option of restartable ECP, however it is
      # not turned on. In this case the restartable testcase should fail.
      #run: build/t_cose_test | grep 'restart_test_2_step FAILED'
      run: build/t_cose_test 

    - name: Run tests
      if: ${{ ! ( matrix.config.crypto-provider == 'MbedTLS' &&
              matrix.config.crypto-provider-version == 'v3.4.0' &&
              matrix.config.crypto-provider-build-extra == '' ) }}
      run: build/t_cose_test

  msvc:
    name: msvc • windows-latest
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        crypto: [ Test, OpenSSL, MbedTLS ]
    
    env:
      ARCH: x64

    steps:
      - uses: actions/checkout@v4

      # Optional: ensures Dev Cmd environment; the VS generator usually finds MSVC without this,
      # but keeping it makes detection deterministic.
      - name: Set up MSVC DevCmd
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ env.ARCH }}

      - name: Fetch QCBOR Win
        uses: actions/checkout@v3
        with:
          repository: laurencelundblade/QCBOR
          ref: better-cmake
          path: QCBOR

      - name: Configure QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          ARCH="${{ env.ARCH }}"
          cmake -S . -B qcbor-build -G "Visual Studio 17 2022" -A "$ARCH" 

      - name: build QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          cmake --build qcbor-build 

      - name: Install QCBOR Win
        shell: bash
        run: |
          cd QCBOR
          cmake --install qcbor-build --prefix "$GITHUB_WORKSPACE/install" --config Debug

      - name: Install OpenSSL with vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: '**/vcpkg.json'

      - name: Config t_cose
        shell: bash
        run: |
          cmake -S . -B build \
          -DCMAKE_PREFIX_PATH="$GITHUB_WORKSPACE/install" \
          -DBUILD_TESTS=ON  -DBUILD_EXAMPLES=ON \
          -DCRYPTO_PROVIDER=${{ matrix.crypto }} 

      - name: Build t_cose
        run: cmake --build build --config Debug
        shell: bash

      - name: Run tests
        shell: pwsh
        run: |
          $exe = "build/Debug/t_cose_test.exe"
          if (!(Test-Path $exe)) {
            Write-Error "Test binary not found: $exe"
          }
          & $exe
